<div class='text-center p-5 pt-4 w-100 bg-info '>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="d-flex flex-column align-items-start">
          <h5><a class='fw-bolder' routerLink="" style="color: #fff; text-decoration: none"> Style Guru </a></h5>
          <p class='text-white text-start'>Designed and built with all the love in the world by the Style Guru team with the help of our contributors.</p>
          <p class='text-white'>Code licensed MIT, docs CC BY 3.0.</p>
          <p class='text-white'> Currently V1.0.0</p>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-12 col-sm-4 col-lg-2">
        <div class="links d-flex flex-column align-items-start">
          <h5 class='text-white text-start'>Links</h5>
          <a routerLink="" style="text-decoration: none; color:white">Home</a>
          <a routerLink="/wishlist" style="text-decoration: none; color: white">Wishlist</a>
          <a routerLink="/cart" style="text-decoration: none; color: white">Cart</a>
        </div>
      </div>
      <div class="col-12 col-sm-4  col-lg-3">
        <div class="guides d-flex flex-column align-items-start">
          <h5 class='text-white text-start'>Registered Address</h5>
          <a style="text-decoration: none; color:white">Manhattan PO</a>
          <a style="text-decoration: none; color:white">Near Center Square</a>
          <a style="text-decoration: none; color:white">688531</a>
        </div>
      </div>
      <div class="col-12 col-sm-4  col-lg-3">
        <div class="contact d-flex flex-column ">
          <h5 class='text-white text-start'>Contact Us</h5>
          <div class="d-flex">
            <input placeholder='Email Id Please' type="text" class='form-control ' />
            <button class='btn btn-success  ms-2'><i class='fa-solid fa-arrow-right'></i></button>
          </div>
          <div class='icons d-flex justify-content-between mt-3'>
            <a href="" style="text-decoration: none; color:white" target='_blank'>
              <i class='fa-brands fa-twitter'></i>
            </a>
            <a href="" style="text-decoration: none; color:white" target='_blank'>
              <i class='fa-brands fa-instagram'></i>
            </a>
            <a href="" style="text-decoration: none; color:white" target='_blank'>
              <i class='fa-brands fa-facebook'></i>
            </a>
            <a href="" style="text-decoration: none; color:white" target='_blank'>
              <i class='fa-brands fa-linkedin'></i>
            </a>
            <a href="" style="text-decoration: none; color:white" target='_blank'>
              <i class='fa-brands fa-github'></i>
            </a>
            <a href="" style="text-decoration: none; color:white" target='_blank'>
              <i class='fa-solid fa-phone'></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class='text-center text-white  mt-2 mb-0'>Copyright © Style Guru  2024 . Built with Angular.</p>
  </div>